{
    "printWidth": 190,
    "singleQuote": true,
    "trailingComma": "all",
    "semi": true,
    "arrowParens": "always",
    "bracketSpacing": true,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "printWidth": 79,
                "tabWidth": 4,
                "useTabs": false,
                "proseWrap": "always",
                "embeddedLanguageFormatting": "auto",
                "singleQuote": false,
                "trailingComma": "all",
                "semi": true,
                "arrowParens": "always"
            }
        }
    ]
}
